<!-- included in the header file in base.html -->
{% load staticfiles %}

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

{# custom CSSs #}
<link href="{% static 'css/cover.css' %}" rel="stylesheet">
{# <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet"> #}
{# <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet"> #}

<!-- third party -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">