{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Library Monitor</title>

	{% include 'head_css.html' %}
	<style>
    {% block style %}
    .site-wrapper-inner{
		/*background-color: #395694;*/
		background-image: url("{% static 'img/uris_lib.jpg' %}");
		background-size: cover;
    }
    .cover-container {
    	background-color: #fff;
    	opacity: 0.8;
    }
    .cover {
    	padding: 2em 2em;
    	color: #443114;
    }
    {% endblock %}
    </style>
   </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Library Monitor</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Library Monitor</h1>
            <p class="lead">This page will be used to display data collected from an arduino and two IR sensors. </p>
            <p class="lead">
              <a href="{% url 'sensor' %}" class="btn btn-lg btn-default">Check sensor data</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Powered by <a href="http://getbootstrap.com">Bootstrap</a>.</p>
            </div>
          </div>







    

        </div>

      </div>

    </div>

	{% include 'javascript.html' %}


  </body>
</html>